{% extends 'base.html.twig' %}

{% block title %}Authors{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div>
                {{ author.name }}
            </div>
        </div>
    </div>
{% endblock %}
