{% extends 'base.html.twig' %}

{% block title %}Authors{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div>
                {{ author.name }}
                <ul>
                {% for book in author.books %}
                    <li>
                        <a href="{{ path('book_show', {id: book.id}) }}">
                            {{ book.name }}
                        </a>
                    </li>
                {% else %}
                    No books written by this author
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
