{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}
<div class="example-wrapper">
    {% if is_granted('ROLE_ADMIN') %}
        <form action="{{ path('generate_authors') }}" method="GET">
            <button type="submit">Generate authors</button>
        </form>
        <form action="{{ path('generate_books') }}" method="GET">
            <button type="submit">Generate books</button>
        </form>
    {% endif %}
</div>
{% endblock %}
