{% extends 'base.html.twig' %}
{% block body %}
    <h1>Edit book with id: {{ book.id }}</h1>
        {% if is_granted('ROLE_ADMIN') %}
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}