{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div>
                {{ book.name }}
            </div>
        </div>
    </div>
{% endblock %}
